{% extends "layout.html" %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block header %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        <p>{{ list1 }}</p>
        <p>{{ list12 }}</p>
        <p class="top_text">Enter Cafe ID & PW</p>
        <form action="{% url 'app:naverCafeInfo' %}" method="POST">
            {% csrf_token %}
            <div class="naver_id_area">
                <div class="input_area">
                    <label class="label" for="naverid">아이디
                        <span class="required-field">*</span>
                    </label>
                    <input placeholder="아이디를 입력하세요" autocomplete="off" class="input" required id="naverid" name="naverid" type="text">
                </div>
                <div class="input_area">
                    <label class="label" for="naverpw">비밀번호
                        <span class="required-field">*</span>
                    </label>
                    <input placeholder="비밀번호를 입력하세요" autocomplete="off" type="password" class="input" required id="naverpw" name="naverpw" type="text">
                </div>
                <div class="input_area">
                    <label class="label" for="nickname">닉네임
                        <span class="required-field">*</span>
                    </label>
                    <input placeholder="네이버 카페의 닉네임을 적어주세요" autocomplete="off" class="input" required id="nickname" name="nickname" type="text">
                </div>
            </div>
            <hr />
            <p class="top_text">Enter Cafe Information</p>
            <div class="naver_id_area">
                <div class="input_area">
                    <label class="label" for="cafename">카페 이름
                        <span class="required-field">*</span>
                        <div class="hovertext" data-hover="표시내용" style="margin-left:3px; display: inline;">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg>
                        </div>
                        
                    </label>
                    <input placeholder="원하시는 카페이름을 넣어주세요" autocomplete="off" class="input" required id="cafename" name="cafename" type="text">
                </div>
                <div class="input_area">
                    <label class="label" for="cafeBname">게시판 이름
                        <span class="required-field">*</span>
                    </label>
                    <input placeholder="Ex &#41;  전체글보기" autocomplete="off" class="input" required id="cafeBname" name="cafeBname" type="text">
                    <!-- <span class="notice">만일 게시판이름을 넣지 않으시면 <strong>'전체글보기'</strong>로 설정 됩니다.</span> -->
                </div>
                <div class="input_area">
                    <label class="label" for="keyword">키워드
                        <span class="required-field">*</span>
                    </label>
                    <input placeholder="Ex &#41;  강남부동산" autocomplete="off" class="input" required id="keyword" name="keyword" type="text">
                </div>
            </div>
            <div class="btn_id_area">
                <div class="input_area">
                    <label class="label" for="comments">댓글
                        <span class="required-field">*</span>
                    </label>
                    <textarea class="textarea" placeholder="댓글을 입력하세요" name="comments" id="comments" cols="42" rows="10"></textarea>
                    <!-- <input placeholder="댓글을 입력하세요" autocomplete="off" class="input_ably" required id="ablypw" name="ablypw" type="text"> -->
                </div>
                <input class="bbtn" type="submit" id="cafeSubmit" value="크롤링 시작" />
                <input class="bbtn" type="submit" id="cafeStop" value="크롤링 종료" />
            </div>
        </form>          
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ block.super }}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
